// HEADER

// Header Section
.section-hero {
  padding-top: 3rem;
  padding-bottom: 10rem;
  & .img-profile {
    // background-color: red;
    background: url("../../images/Thomas_Mirmotahari.jpg") 20% 50% no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
  }
}

// Header Background
.header-bgd {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    background-image: linear-gradient($top-gradient-color, $bottom-gradient-color);
    height: 100%;
  }
