// HOMEPAGE CONTENTS

// Hero Section
.section-hero {
  padding-top: 9rem;
  padding-bottom: 10rem;
  & .img-profile {
    // background-color: red;
    background: url("../../images/Thomas_Mirmotahari.jpg") 20% 50% no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
  }
}

// React Projects
.section-projects {
  margin-top: 9rem;
  margin-bottom: 9rem;
  .projects-heading {
    margin-bottom: 3rem;
  }
}


// Footer Section
.footer-section {
  padding: 50px;
}
