// HOMEPAGE CONTENTS

// About Me

// Experiences
.experience-block {
  margin-bottom: 5rem;
}

.foodee-logo {
  @include sm {
  max-width: 300px;
  }
}
.wr-logo {
  padding: 0px 40px 1.5rem 40px;
  @include sm {
    max-width: 300px;
  }
}
.psp-logo {
  max-width: 240px;
  padding: 0px 40px 1.5rem 40px;
}

// Education
.ivey-logo {
  padding: 0px 40px;
  @include sm {
    max-width: 300px;
  }
}

// Projects
